<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1659623967.6936731</real>
	<key>UUID</key>
	<string>575829E3-E169-4D11-8B66-3A681E19C6BC</string>
</dict>
</plist>
