<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1658841647.4828801</real>
	<key>UUID</key>
	<string>CE70AAEF-C396-4461-AAF0-93355005A01D</string>
</dict>
</plist>
